/* General Styles */
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #B2E8C7;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

h1, h2, h3, h4 {
  color: #48C09E;
}

p {
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #48C09E;
  transition: color 0.3s;
}

a:hover {
  color: #B2E8C7;
}

/* Container */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header Styles */
.navbar {
  background-color: #B2E8C7;
  padding: 10px 0;
  padding: .5rem 1rem;
}


.navbar .navbar-brand img {
  height: 40px;
  padding-right: 50px;
 
}

.navbar .nav-link {
  color: #48C09E !important;
  margin-right: 80px; /* Space between links */
  font-weight: 500; /* Slightly bold text */
  width: 130px;
}
.navbar .nav-link:hover {
  color: #B2E8C7 !important;
}
/* Hero Section */
.hero {
  background: #B2E8C7 center/cover no-repeat;
  color: #fff;
  text-align: center;
  padding: 100px 20px;
  position: relative;
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 20px;
  animation: fadeInDown 1s;
  color: #48C09E;
}

.hero p {
  font-size: 20px;
  margin-bottom: 30px;
  animation: fadeInUp 1s;
  color: black;
}




/* General Styles */


.quiz-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #ecf9f6;
  padding: 50px;
  border-radius: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #00BF63;
}

.quiz-section {
  margin-bottom: 40px;
  max-width: 600px;
  margin: 0 auto;
  background-color: #d4fff3;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quiz-section h2 {
  color: #48C09E;
}

.question {
  margin-bottom: 20px;
}

.question p {
  margin: 0 0 10px;
  color: black;
}

label {
  display: block;
  margin-bottom: 5px;
  color: black;
}

button {
  background-color: #48C09E;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

button:hover {
  background-color: #B2E8C7;
}

.result {
  margin-top: 20px;
  font-weight: bold;
  color: rgb(255, 0, 0);
  size: large;
}

/* help */
.help {
  background-color: #B2E8C7;
  padding: 20px 0;
  text-align: center;
  color: #fff;
}

.footer p {
  margin: 0;
}



/* Footer */
.footer {
  background-color: #307c67;
  padding: 20px 0;
  text-align: center;
  color: #fff;
}

.footer .logo {
  max-width: 150px;
  margin-bottom: 10px;
}

.footer p {
  margin: 0;
}














